<h1> BusyFree </h1>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In" %>
    <%= f.submit "Sign Up" %>
    <%= f.submit "Forgot Password?" %> <br/>
  </div>

  <% if @is_error %>
    <p> Try again. </p>
    <p> To sign in: name or phone must be populated, password must be populated, and all input must match our records. </p>
    <p> To sign up: all fields must be populated, and password must be unique. </p>
  <% end %>
<% end %>
