<h1> BusyFree </h1>

<%= form_for(User.new) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign in" %>
    <%= f.submit "Sign up" %>
    <%= f.submit "Forgot password?" %> <br/>
    <%= @error %>
  </div>
<% end %>
