<h1> BusyFree </h1>

<%= form_for(User.new) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Sign in" %>
    <%= f.submit "Sign up" %>
    <%= f.submit "Request text (broken)" %>
  </div>
<% end %>

<p> BusyFree is the simplest way to connect with friends. </p>
<p> Search for them by full name or phone number. Click the big gold button whenever you&apos;re free. We&apos;ll notify you whenever you and your friends are free at the same time. </p>
<p> Copyright 2019. Dan Glick (danjglick@gmail.com). All rights reserved. </p>
